
.container {
    display: grid; 
    grid-template-columns: 1.4fr 0.6fr; 
    grid-template-rows: 0.4fr 2.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "logo ."
      "seleccion creacion"; 
      
  }
  .logo { grid-area: logo; background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 10%;}

.productos{
  width: 50%;
 
}
  .seleccion { 
      grid-area: seleccion; 
      padding:10px; 
      border:solid 1px;
     position: fixed;
    top: 20%;
    bottom: 10%;
    left: 5%;
    right: 50%;
    width: 50%;
    
    }


input {
width:250px;
height:14px;
padding: 20px;
margin: 10px;
}
.crear{
left: 85%;
width: 30%;
height:32px;

}

  .creacion { 
      grid-area: creacion; 
      position: fixed;
      top: 10%;
      bottom: 10%;
      left: 70%;
      right: 5%;
    }
    th {
        padding-right: 50px;
    }

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 14px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    padding-left: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider {
    border-radius: 34px;
  }
  
  .slider :before {
    border-radius: 50%;
  }